<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <title>Profile</title>
  </head>
  <body>
    <header class="p-3 text-white justify-content-center bg-success">
      <div class="d-flex justify-content-center align-items-center">
        <div class="m-2"><h1>Links for <%= user.username %></h1></div>
      </div>
    </header>
    <% for (var i=0; i<links.length ;i++) {%>
    <div id="<%= links[i].id %>" class="card text-center m-4">
      <h4 id="<%= links[i].id %>" class="card-header d-flex justify-content-around p-1">
        <button id="<%= links[i].id %>" class="btn btn-primary">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            fill="currentColor"
            class="bi bi-pencil-square"
            viewBox="0 0 16 16"
          >
            <path
              d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
            />
            <path
              fill-rule="evenodd"
              d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
            />
          </svg>
        </button>
        <%= links[i].short_link %>
        <button id="<%= links[i].id %>" onclick="del('<%= links[i].id %>')" class="btn btn-danger">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            fill="currentColor"
            class="bi bi-trash-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"
            />
          </svg>
        </button>
      </h4>
      <div id="<%= links[i].id %>" class="card-body p-1">
        Original Link:
        <a id="(<%= links[i].id %>" target="_blank" href="<%= links[i].original_link %>">
          <%= links[i].original_link %>
        </a>
      </div>
      <div class="card-footer">
        <small class="text-muted">
          Last Updated: <%=links[i].updatedAt.toLocaleString()%>. Expires on
          <%=links[i].expiry_date.toLocaleString()%>
        </small>
      </div>
    </div>
    <%}%>
    <script>
      function del(id) {
        api = new XMLHttpRequest();
        api.open('POST', '/profile/deleteLink', true);
        api.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
        api.onload = () => {
          if (api.status == 200) {
            document.querySelectorAll("#"+id).forEach(e => e.outerHTML="");
          }
        };
        api.send(JSON.stringify({linkObj: id}));
      }
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
