<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <title>Profile</title>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
      <div class="container">
        <a href="/link_generator"><button class="btn btn-primary">New Link</button></a>
        <a href="/LinkTree/Create"><button class="btn btn-primary">New LinkTree</button></a>
        <a href="/profile"><button class="btn btn-primary active">Manage Links</button></a>
        <a href="/LinkTree"><button class="btn btn-primary">Manage LinkTrees</button></a>
        <a href="http://localhost:8000/"><button class="btn btn-secondary">Logged in as <%= user.username%> </button></a>
      </div>
    </nav>
    <header class="p-3 text-white justify-content-center bg-success">
      <div class="d-flex justify-content-center align-items-center">
        <div class="m-2"><h1>Links for <%= user.username %></h1></div>
      </div>
    </header>
    <% for (var i=0; i < links.length ; i++) {%>
    <div id="<%= links[i].id %>" class="card text-center m-4">
      <div class="card-header">
        <small class="text-muted">
          Last Updated: <span id="last_<%= links[i].id %>"><%=links[i].updatedAt.toLocaleString()%></span>
        </small>
      </div>
      <div class="card-body">
        <div class="row mb-3">
          <label class="col-sm-2 col-form-label">Short Link</label>
          <div class="col-sm-10">
            <input id="short_<%= links[i].id %>" readonly type="text" class="form-control" value="<%= links[i].short_link %>">
          </div>
        </div>
        <div class="row mb-3">
          <label class="col-sm-2 col-form-label">Original Link</label>
          <div class="col-sm-10">
            <input id="original_<%= links[i].id %>" readonly type="url" class="form-control" value="<%= links[i].original_link %>">
          </div>
        </div>
        <div class="row mb-3">
          <label class="col-sm-2 col-form-label">Expires on</label>
          <div class="col-sm-10">
            <input id="expire_<%= links[i].id %>" readonly type="datetime-local" class="form-control" value="<%=
             new Date(links[i].expiry_date.valueOf()-links[i].expiry_date.getTimezoneOffset()*1000*60).toISOString().split('.')[0]
             %>"/>
          </div>
        </div>
        <button id="edit_<%= links[i].id %>" onclick="edit('<%= links[i].id %>')" class="btn btn-primary">
          Edit
        </button>
        <button id="delete_<%= links[i].id %>" onclick="del('<%= links[i].id %>')" class="btn btn-danger">
          Delete
        </button>
        <a href = "/analytics/<%= links[i].short_link %>">
          <button id="analytics_<%= links[i].id %>" class="btn btn-info text-white">
            Analytics
          </button>
        </a>
      </div>
    </div>
    <%}%>
    <script>
      function del(id) {
        let api = new XMLHttpRequest();
        api.open('POST', '/profile/deleteLink', true);
        api.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
        api.onload = () => {
          if (api.status == 200) {
            document.querySelector("#"+id).outerHTML="";
          }
        };
        api.send(JSON.stringify({linkObj: id}));
      }
      function edit(id) {
        document.querySelector("input#short_"+id).readOnly = false;
        document.querySelector("input#original_"+id).readOnly = false;
        document.querySelector("input#expire_"+id).readOnly = false;
        document.querySelector("button#edit_"+id).innerText = "Save";
        document.querySelector("button#edit_"+id).className = "btn btn-warning";
        document.querySelector("button#edit_"+id).onclick = () => save(id);
      }
      function save(id) {
        let short = document.querySelector("input#short_"+id);
        let original = document.querySelector("input#original_"+id);
        let expire = document.querySelector("input#expire_"+id);
        api = new XMLHttpRequest();
        api.open('POST', '/profile/editLink', true);
        api.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
        api.onload = () => {
          short.readOnly=true;
          original.readOnly=true;
          expire.readOnly=true;
          document.querySelector("button#edit_"+id).innerText = "Edit";
          document.querySelector("button#edit_"+id).className = "btn btn-primary";
          document.querySelector("button#edit_"+id).onclick = () => edit(id);
          document.querySelector("span#last_"+id).innerText = new Date(JSON.parse(api.response)['updatedAt']).toLocaleString();
        };
        api.send(JSON.stringify({linkObj : id, original_link: original.value, short_link: short.value, expiry_date: new Date(expire.value)}));
      }
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>